/* css styles */
.text-content {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 450px;
}

.title-with-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin: 0 auto;
}

.profile-pic {
    width: 350px; 
    height: 400px; 
    object-fit: cover;
    border-radius: 15px;
}


